@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 10px 1px black;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
}

.grid-container {
    height: 100%;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    height: 70%;
    width: 70%;
    background-color: white;
    box-shadow: 1px 1px 20px 5px black;
}

label {
    color: white;
    user-select: none;
}

.size-range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: white;
    font-size: 48px;
    font-weight: bold;
    user-select: none;
}

.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 120px;
    width: 70%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.color-picker::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 5px 1px black;
}

.color-picker::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

.tools {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px black;
    transition: all 300ms ease;
    user-select: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

.tools:hover, .active {
    background-color: rgba(0, 0, 0, .6);
}


/* Tooltip container */
.tools {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
.tools .tool-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
.tools .tool-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tools:hover .tool-text {
    visibility: visible;
    opacity: 1;
  }

.grid {
    display: grid;
}

.grid-box {
    user-select: none;
}